.card {
    margin-top: 80px;
    max-width: 100%;
    border: none;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    max-height: 500px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn {
    margin-top: 10px;
  }
  
  